body {
	padding: 0;
	text-align: center;
	position: relative;
	margin: 0;
	height: 100%;
	min-width: 250px;
	min-height: 500px;
	background: #f2f2f2;
	min-width: 850px;
	font-family: RobotoLight;
	-webkit-font-smoothing: antialiased;
}

/* font-family: "RobotoLight"; */
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: black;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

/* HEADER */
.header {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	overflow: auto;
}

.header .wrapper {
	width: 100%;
	display: block;
	max-width: 1280px;
	position: absolute;
	z-index: 10;
}

.header .logo {
	float: left;
}

.header .logo .img {
	display: block;
	width: 270px;
	height: 80px;
	margin: 20px 0px;
	margin-left: 50px;
	background-image: url(../img/header/rashad.png);
	background-size: 100% 80px;
	background-repeat: no-repeat;
	-moz-transition: all 0.8s ease-out;
	-o-transition: all 0.8s ease-out;
	-webkit-transition: all 0.8s ease-out;
}

.header .logo .img:hover {
	opacity: 0.8;
}

.header .logo .img:active {
	opacity: 1;
	margin-top: 30px;
	margin-left: 55px;
	width: 255px;
	background-size: 100% 65px;
	-moz-transition: all 0.0s ease-out;
	-o-transition: all 0.0s ease-out;
	-webkit-transition: all 0.0s ease-out;
}

.header .logo a {
	padding-top: 50px;
}

.header .nav-menu {
	display: table-cell;
	float: right;
	margin-top: 20px;
	padding: 0;
	list-style-type: none;
}

.header .nav-menu > li {
	float: left;
	display: inline-block;
	margin-top: 30px;
}

.header .nav-menu > li > a {
	display: table-cell;
	padding: 0px 8px;
	margin:  0;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Poiret One', RobotoLight, Arial;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
	color: white;
	text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.55);
	cursor: pointer;
}

.header .nav-menu > li > a:hover {
	color: #e81f1f;
	text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.65);
}

.header .nav-menu > li > a:active {
	color: white;
	text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.55);
	-moz-transition: all 0.01s ease-out;
	-o-transition: all 0.01s ease-out;
	-webkit-transition: all 0.01s ease-out;
}
/* END HEADER */

/* GALLERY */
.wrapper {
	height: auto !important;
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
}
.main {
	float: left;
	width: 100%;
	margin: 0 auto;
	margin-top: 180px;
	margin-bottom: 20px;
}

.clear {
	width: auto;
}

.tps-section {
  width: 100%;
  height: 650px;
  -webkit-perspective: 10em;
  -moz-perspective: 10em;
  -ms-perspective: 10em;
  -o-perspective: 10em;
  perspective: 10em;
  -webkit-perspective-origin: center bottom;
  -moz-perspective-origin: center bottom;
  -ms-perspective-origin: center bottom;
  -o-perspective-origin: center bottom;
  perspective-origin: center bottom;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
}


.tps-wrapper {
  float: left;
  width: 100%;
  height: 100%;
}

.tps-section {
	width: 100% !important;
	max-width: 1480px;
	margin: 0 auto;
}

.tps-section .tps-wrapper {
	border-radius: 5px;
	}

.tps-section .tps-wrapper a {
	position: absolute;
	background: rgba(0,0,0,0.25);
	width: 100%;
	height: 100%;
	top: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	left: 0;
	color: white;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}

.tps-section .tps-wrapper a:hover {
	background: rgba(0,0,0,0.55);
}

.tps-section .tps-wrapper a:active {
	background: rgba(0,0,0,0.75);
}

.tps-section .tps-wrapper a h1 {
	margin: 20px;
	margin-bottom: 10px;
	padding: 0;
	padding-top: 255px;
	text-transform: uppercase;
	letter-spacing: 8px;
	font-weight: 100;
	font-size: 45px;
}

.tps-section .tps-wrapper a p {
	margin: 0;
	padding: 0;
	text-transform: none;
	font-style: italic;
	font-weight: lighter;
	font-family: noto serif;
	letter-spacing: 1px;
	font-size: 20px;
}

.tps-section:nth-child(1n+1) .tps-wrapper {
	background: url(../img/hotels/comfort/comfort.jpg) center center;
	background-size: cover;
}
.tps-section:nth-child(2n+1) .tps-wrapper {
	background:  url(../img/hotels/lux/lux.jpg) center center;
	background-size: cover;
}
.tps-section:nth-child(3n+1) .tps-wrapper {
	background:  url(../img/hotels/vip/vip.jpg) center center;
	background-size: cover;
}
.tps-section:nth-child(4n+1) .tps-wrapper {
	background:  url(demo4.jpg) center center;
	background-size: cover;
}

/* FOOTER */
.footer {
	overflow: hidden;
	height: 40%;
	background-color: #333333;
	color: #ECECEC;
	font-family: 'Poiret One';
	font-size: 20px;
	text-align: center;
}

.footer .stars {
	margin-top: 80px;
	margin-bottom: 0;
}

.footer .rashad {
	margin: 0 auto;
	background-image: url(../img/header/rashad-mini-two.png);
	background-size: 100% 100%;
	width: 180px;
	height: 59px;
}

.footer .phones {
	font-size: 30px;
}

.footer .phones > a {
	color: white;
}

.footer .copyright {
	font-size: 14px;
	margin-bottom: 80px;
}
/* END FOOTER */