body {
	margin: 0;
	padding: 0;
	/*min-width: 850px;*/
	min-height: 500px;
	font-family: RobotoLight, Arial;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	color: black;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

/* IMPORT FONTS */
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "Poiret One"; */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(../fonts/PoiretOne/PoiretOne-Regular.ttf) format("truetype");
}
/* cyrillic */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(../fonts/PoiretOne/PoiretOne-Regular-Cyr.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(../fonts/PoiretOne/PoiretOne-Regular-lat-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(../fonts/PoiretOne/PoiretOne-Regular-lat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#top {
	min-height: 500px;
	min-width: 250px;
	background-image: url(../img/hotels/vip/slideshow/5.jpg);
	/*background-size: 100% 100%;*/
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	z-index: 1;
    width: 100%;
    height: 700px;
	padding: 0;
	overflow: hidden;
}

#top .bnovo {
	height: 20%;
}

#top .bnovo .btn_cross {
	float: right;
	position: absolute;
	right: -28px;
	top: 0px;
	z-index: 10000;
	background-image: url(../img/icons/cross.png);
	background-size: 100%;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

#top #_bn_widget_ a {
	top: 126px;
}

#top .btn_cross:hover {
	background-image: url(../img/icons/cross-active.png);
}

#top .btn_cross:active {
	background-image: url(../img/icons/cross.png);
}

#top .bn_btn {
	overflow: hidden;
	margin: 10px auto;
	border: 1px solid white;
	padding: 15px;
	width: 300px;
	text-align: center;
	font-family: RobotoLight;
	font-size: 25px;
	cursor: pointer;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	border-radius: 3px;
	color: white;
}

#top .bn_btn:hover {
	background-color: #c73838;
	border: 1px solid #c73838;
	color: white;
}

#top .bn_btn:active {
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
}

#top .bn_wrapper {
	position: absolute;
	width: 100%;
}

.bn {
	margin: 0 auto;
	height: 80px;
	top: -180px;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}

#top .stars {
	padding-top: 100px;
	font-size: 50px;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.55);
}

#top .menu {
	margin: 0 auto;
	padding-top: 0%;
	height: 50%;
	max-width: 700px;
	width: 100%:;
}

#top .rashad-logo {
	margin: 0 auto;
	background-image: url(../img/top/rashad-logo.png);
	background-size: 100% 100%;
	height: 60%;
	width: 80%;
	margin-top: 30px;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	cursor: pointer;
}

#top .rashad-logo:hover {
	opacity: 0.9;
}

#top .rashad-logo:active {
	width: 75%;
	height: 55%;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
}

#top .menu .p {
	margin: 0 auto;
	color: white;
	display: block;	
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.55);
}

#top .menu .p:hover {
	color: #FFDEDE;
}

#top .menu > ul {
	margin: 0 auto;
	margin-top: 10px;
	padding: 0;
	text-align: center;
}

#top .menu > ul > li {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	/*474747*/
	border: 1px solid #414141;
	background-color: #414141;
	border-radius: 2px;
	cursor: pointer;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}

#top .menu > ul > li:hover {
	border-color: #c73838;
	background-color: #c73838;
	color: white;
}

#top .menu > ul > li:active {
	-webkit-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.75);
	-moz-transition: all 0s ease-out;
	-o-transition: all 0s ease-out;
	-webkit-transition: all 0s ease-out;
}

#top .menu > ul > li > a {
	padding: 0;
	margin: 0;
	display: block;
	color: white;
	font-size: 18px;
	padding: 8px 20px;
}

#top .menu > ul > li > a:hover {
	color: white;
}

#top .ctn_wrap {
	width: 100%;
	margin: 0 auto;
	max-width: 300px;
	background: red;
	position: relative;
	background: red;
}

#top .contacts {
	padding-bottom: 0px;
	margin-right: 50px;
	position: absolute;
	right: 0px;
	top: 20px;
}

#top .contacts a {
	font-size: 30px;
	color: white;

}

#top .wrap {
	margin: 0 auto;
	max-width: 250px;
	display: inline-block;
}

#top .block1 {
	vertical-align: top;
}

#top .contacts a:hover {
	color: #F11717;
	font-weight: bold;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
}

#top .phone {
	display: inline-block;
	width: 50px;
	height: 82px;
	background-image: url(../img/icons/phone.png);
	background-size: 100% 100%;
}

@media (max-width: 800px) {
	#top {
		background-image: url(../img/main_mob.jpg);
	}
	#top .rashad-logo {
		/*width: 90%;*/
		/*height: 60%;*/
		margin: 0 auto;
		opacity: 1;
	}
	#top .rashad-logo:hover {}
}

@media (max-width: 450px) {
	#top .menu .rashad-logo {
	}
	#top .menu > .p  {
		border: 1px solid #3b3b3b;
		background-color: #3b3b3b;
		color: white;
		cursor: pointer;
		display: block;
		text-align: center;
		margin: 0 5px;
		padding: 15px 0;
		font-size: 13px;
	}
	#top .menu > .p:hover  {
		border-color: #c73838;
		background-color: #c73838;
	}
	#top .menu > ul > li {
		background-color: #3b3b3b;
		border-color: #3b3b3b;
		display: block;
		margin: 5px;
	}
	#top .bnovo {
		height: 15%;
	}
	#top .menu {
		padding-top: 0;
		height: 65%;
	}
	#top .menu p {
		padding-top: 10px;
	}
	#top .rashad-logo {
		background-image: url(../img/top/rashad-logo-mob.png);
		height: 35%;
		width: 80%;
		margin: 0 auto;
	}
	#top .rashad-logo:hover {
		height: 35%;
	}
	#top .rashad-logo:active {
	}
	#top .button {
		font-size: 15px;
		padding: 15px;
		width: 150px;
	}
	#top .contacts {
		padding-top: 10px;
	}
	#top .contacts a {
		font-size: 20px;
	}
	#top .phone {
		width: 25px;
		height: 50px;
	}
}

section {
	min-width: 850px;
	margin: 0;
	padding: 0;
}

#about-us {
	overflow: hidden;
	width: 100%;
	margin: 70px 0;
}

#about-us .wrapper {
	margin: 0 auto;
	max-width: 900px;
	width: 100%;
	color: black;
}

#about-us h3 {
	text-align: center;
	margin: 0;
}

#about-us p {
	font-size: 20px;
	text-align: center;
}

#about-us .wrapper .separator.one {
	margin-top: 20px;
	width: 120px;
	height: 2px;
}

#about-us .wrapper .separator.two {
	margin-bottom: 20px;
	width: 120px;
	height: 2px;
}
.separator {
	margin: 0 auto;
	background-color: blue;
	opacity: 0.3;
	width: 20%;
	height: 3px;
}

#rashad {
	width: 100%;
	overflow: hidden;
	background: #faf6f5;
}

#rashad .wrapper {
	margin: 0 auto;
	width: 100%;
	
}

#rashad .photo {
	width: 35%;
	float: left;
	background-image: url(../img/top/rashad.jpg);
	background-position: center;
	background-size: 100% 100%;
	height: 600px;
}

/* RASHAD TEXT */
#rashad .text {
	float: left;
	width: 65%;
}

#rashad .text h3 {
	text-align: center;
	margin-top: 50px;
	margin-left: 50px;
}

#rashad .text p {
	font-size: 16px;
	margin: 5px 50px;
}

#rashad .text .sell {
	font-size: 20px;
	margin: 50px 50px;
	margin-top: 40px;
	margin-left: 80px;
	padding-left: 20px;
	border-left: 3px solid #B3C0FF;
}

#apartments {
	overflow: hidden;
	width: 100%;
}

#apartments .wrapper {
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
}

#apartments h2 {
	text-align: center;

}

#apartments .apartments_list {
	height: 100%;
}

#apartments .apartments {
	float: left;
	height: 500px;
	margin: 0 0.5%;
	text-align: center;
	margin-bottom: 30px;
	border-radius: 3px;
	cursor: pointer;
}

#apartments .apartments:hover {
	background-color: #EDEDED;
}

#apartments .apartments.comfort {
	width: 30%;
}
#apartments .apartments.vip {
	width: 35%;
}
#apartments .apartments.lux {
	width: 30%;
}

#apartments .apartments .apart_img {
	width: 100%;
	height: 70%;
	border-radius: 2px; 
}

#apartments .apartments .apart_img:hover{
	opacity: 0.8;
}

#apartments .apartments.comfort .apart_img {
	background-image: url(../img/hotels/comfort/comfort_mob.jpg);
	background-position: left;
	width: 100%;
}
#apartments .apartments.vip .apart_img {
	background-image: url(../img/hotels/vip/vip_mob.jpg);
	background-position: right;
	width: 100%;
}
#apartments .apartments.lux .apart_img {
	background-image: url(../img/hotels/lux/lux_mob.jpg);
	background-position: left;
	width: 100%;
}

#apartments .apartments .apart_info .name {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	font-size: 20px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

#apartments .apartments .apart_info .about {
	margin: 5px 5px;
	padding: 0;
	color: #868686;
	margin-bottom: 10px; 
}

#apartments .apartments .separator {
	margin: 0 auto;
	background-color: red;
	opacity: 0.3;
	width: 50%;
	height: 3px;
}

#apartments .apartments .price_info {
	margin: 5px 10px;
	padding: 0;
}

#apartments .apartments .price_info > li {
	list-style-type: none;
	display: inline-block;
	text-transform: uppercase;
}


#apartments .apartments .price_info .apart_price {
	font-size: 25px;
	font-weight: bold
}

#map {
	height: 400px;
}

.footer {
	overflow: hidden;
	height: 100%;
	background-color: #333333;
	color: #ECECEC;
	font-family: 'Poiret One';
	font-size: 20px;
	text-align: center;
}

.footer .stars {
	margin-top: 80px;
	margin-bottom: 0;
}

.footer .rashad {
	margin: 0 auto;
	background-image: url(../img/header/rashad-active.png);
	background-size: 100% 100%;
	width: 180px;
	height: 59px;
}

.footer .phones {
	font-size: 30px;
}

.footer .phones > a {
	color: white;
}

.footer .copyright {
	font-size: 14px;
	margin-bottom: 80px;
}