body {
	margin: 0;
	padding: 0;
	font-family: 'RobotoLight', 'Arial';
	min-width: 300px;
	background: #f2f2f2;
	-webkit-font-smoothing: antialiased;
}

/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../../fonts/RobotoLight/RobotoLight.eot");
    src: url("../../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PT Sans"; */
@font-face {
  font-family: 'PT Sans';
  src: url("../../fonts/PT_Sans/PT_Sans-Web-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

/* font-family: "Poiret One"; */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(../../fonts/PoiretOne/PoiretOne-Regular.ttf) format("truetype");
}
/* cyrillic */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(../../fonts/PoiretOne/PoiretOne-Regular-Cyr.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(../../fonts/PoiretOne/PoiretOne-Regular-lat-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(../../fonts/PoiretOne/PoiretOne-Regular-lat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

a {
	text-decoration: none;
	color: black;
	outline: none;
}

h1 {
	font-family: 'Poiret One', 'RobotoLight','PT Sans', 'Arial';
	margin: 0;
	padding: 0;
	cursor: default;
}

h2 {
	font-family: 'Poiret One', 'RobotoLight','PT Sans', 'Arial';
	font-size: 40px;
	text-align: center;
	padding: 0;
	margin-top: -20px;
	margin: 0;
}

.header_separator {
	font-family: 'Poiret One';
	margin: 0;
	padding: 0;
	margin-top: 25px;
	font-size: 40px;
	text-align: center;
}

.main-header {
	text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.4);
	color: #434343;
}

h3 {
	font-family: RobotoLight;
	font-size: 30px;
	text-align: center;
	margin: 15px 0;
	margin-bottom: 10px;
	padding: 0;
}

.block_separator {
	background-color: black;
	opacity: 0.2;
	height: 4px;
	width: 40%;
	margin: 0 auto;
}

.block_separator.red {
	background-color: #FF0000;
}

.block_separator.blue {
	background-color: #009B80;
}

.block_separator.orange {
	opacity: 0.3;
	background-color: #FFC000;
}

/* HEADER */
.header {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	overflow: auto;
}

.header .wrapper {
	width: 100%;
	display: block;
	max-width: 1280px;
	position: absolute;
	z-index: 10;
}

.header .logo {
	float: left;
}

.header .logo .img {
	display: block;
	width: 270px;
	height: 80px;
	margin: 20px 0px;
	margin-left: 50px;
	background-image: url(../../img/header/rashad.png);
	background-size: 100% 80px;
	background-repeat: no-repeat;
	-moz-transition: all 0.8s ease-out;
	-o-transition: all 0.8s ease-out;
	-webkit-transition: all 0.8s ease-out;
}

.header .logo .img:hover {
	opacity: 0.8;
}

.header .logo .img:active {
	opacity: 1;
	margin-top: 30px;
	margin-left: 55px;
	width: 255px;
	background-size: 100% 65px;
	-moz-transition: all 0.0s ease-out;
	-o-transition: all 0.0s ease-out;
	-webkit-transition: all 0.0s ease-out;
}

.header .logo a {
	padding-top: 50px;
}

.header .nav-menu {
	display: table-cell;
	float: right;
	margin-top: 20px;
	padding: 0;
	list-style-type: none;
}

.header .nav-menu > li {
	float: left;
	display: inline-block;
	margin-top: 30px;
}

.header .nav-menu > li > a {
	display: table-cell;
	padding: 0px 8px;
	margin:  0;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Poiret One', RobotoLight, Arial;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
	color: white;
	text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.55);
	cursor: pointer;
}

.header .nav-menu > li > a:hover {
	color: #e81f1f;
	text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.65);
}

.header .nav-menu > li > a:active {
	color: white;
	text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.55);
	-moz-transition: all 0.01s ease-out;
	-o-transition: all 0.01s ease-out;
	-webkit-transition: all 0.01s ease-out;
}

.header .mini_menu_btn {
	width: 56px;
	height: 56px;
	background-image: url(../../img/icons/menu.png);
	background-size: 100% 100%;
	float: right;
	margin-right: 15px;
	margin-top: 20px;
	cursor: pointer;
	display: none;
	opacity: 0.9;
	-webkit-filter: opacity(90%);
	-moz-opacity: 0.9;
	-o-opacity: 0.9;
	filter: alpha(opacity =90);
}

.header .mini_menu_btn:hover {
	opacity: 0.8;
	-webkit-filter: opacity(80%);
	-moz-opacity: 0.8;
	-o-opacity: 0.8;
	filter: alpha(opacity =80);
}
.header .mini_menu_btn:active {
	opacity: 1;
	-webkit-filter: opacity(100%);
	-moz-opacity: 1;
	-o-opacity: 1;
	filter: alpha(opacity =100);
}

.header_mini_menu {
	display: none;
}

#li_apart:hover {
	background-image: url(../../img/hotels/li_apart_bg.png);
	border-radius: 4px;
	-webkit-box-shadow: 50px 50px 50px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 12px -5px rgba(0,0,0,0.75);
}

#li_apart > ul {
	display: none;
	margin-top: 10px;
}

#li_apart > ul > li {
	font-family: RobotoLight, Arial;
	list-style-type: none;
	margin-left: -30px;
	padding: 4px 0;
	padding-left: 15px;
}

#li_apart > ul > li > a {
	color: white;
	font-size: 20px;
	text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.55);
}
#li_apart > ul > li > a:hover {
	color: #e81f1f;
}
/* END HEADER */

/* BUTTON GO TO UP */
.up_btn {
	position: fixed;
	background-image: url(../../img/icons/up.png);
	background-size: 100% 100%;
	width: 64px;
	height: 64px;
	background-size: 100% 100%;
	float: right;
	bottom: 0;
	right: 0;
	margin-bottom: 10px;
	margin-right: 15px;
	z-index: 9999999999;
	opacity: 0.9;
	-webkit-filter: opacity(90%);
	-moz-opacity: 0.9;
	-o-opacity: 0.9;
	filter: alpha(opacity =90);
}

.up_btn:hover {
	-webkit-filter: opacity(80%);
	-moz-opacity: 0.8;
	-o-opacity: 0.8;
	filter: alpha(opacity =80);
}

.up_btn:active {
	opacity: 1;
	-webkit-filter: opacity(100%);
	-moz-opacity: 1;
	-o-opacity: 1;
	filter: alpha(opacity =100);
}
/* END UP_BTN */

/* GENERAL */
.main {
	margin: 0;
	padding: 0;
	width: 100%;
}

section {
	margin: 0 auto;
	width: 100%;
}
/* END GENERAL*/

/* TOP Section*/
#top {
	/*position: relative;*/
	/*background-attachment: fixed;*/
	text-align: center;
	background-position: center;
	overflow: hidden;
}

#top .wrapper {
	background: rgba(0,0,0,0.15);
	height: 100%;
	overflow: hidden;
}

#top h1 {
	text-align: center;
	padding-top: 160px;
	color: white;
	font-size: 100px;
	font-weight: 400;
	letter-spacing: 20px;
	text-transform: uppercase;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
}

#top h3 {
	color: white;
	margin-top: 20px;
	font-weight: 400;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
}

#top .price {
}

#top .price > *{
	display: inline-block;
	color: white;
	margin-top: 20px;
	padding: 0 5px;
	font-size: 80px;
	text-shadow: 2px 8px 2px rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
}

#top .contacts_wrapper {
	margin: 0 auto;
	width: 300px;
}

#top .contacts {
	margin: 0 auto;
	margin-bottom: 40px;
	text-align: center;
	font-family: Arial;
}

#top .contacts a {
	font-size: 30px;
	color: white;
	/*font-weight: bold;*/
	text-align: center;
	text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.55);
	border-radius: 5px;
}

#top .wrap {
	margin: 0 auto;
	max-width: 300px;
	display: inline-block;
}

#top .block1 {
	vertical-align: top;
}

#top .contacts a:hover {
	background-image: url(../../img/hotels/block_separator.png);
	border-radius: 4px;
}
/*
#top .bn_wrapper {
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	margin: 0 auto;
	margin-top: 30px;
	max-width: 500px;
	width: 100%;
}

#top #_bn_widget_ {
	position: absolute;
}*/
/* END sec.*/

/* COMFORT Section */
#comfort {
	max-width: 1180px;
	margin: 0 auto;
	width: 100%;
	/*height: 620px;*/
}

#comfort .block {
	overflow: hidden;
	display: inline-block;
	margin: 50px 1%;
	width: 22%;
	background-color: white;
	vertical-align: top;
	-webkit-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.75);
}

#comfort .block h3 {
	font-family: 'RobotoLight', Arial;
}

#comfort .block > ul > li {
	font-size: 20px;
	font-family: 'RobotoLight', Arial;
	list-style-image: url(../../img/hotels/block_list_style_type.png);
	padding: 3px 0px;
	padding-right: 20px;
	cursor: default;
}

#comfort .block .items_img {
	margin: 0 auto; 
	background-size: 100% 120px;
	width: 45%;
	height: 120px;
	margin-top: 15px;
}

#comfort .media .items_img {
	background-image: url(../../img/hotels/block_imgs/tv.png);
}

#comfort .interior .items_img {
	background-image: url(../../img/hotels/block_imgs/interior.png);
}

#comfort .services .items_img {
	background-image: url(../../img/hotels/block_imgs/services.png);
}
#comfort .equimpent .items_img {
	background-image: url(../../img/hotels/block_imgs/equimpent.png);
}

/* SLIDESHOW section*/
#slideshow_mob {
	display: none;
}
#slider {
	position: relative;
	margin: 50px auto;
	margin-bottom: 0px;
	padding: 0px;
	width: 100%;
	height: 750px;
}

#slider #scr {
	margin: 20px auto;
	width: 100%;
	height: 100%;
	background-size: 100%;
	margin-top:0px;
	background-color: white;
	outline: none;
	/*background-size: 100% 100%;*/
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 2px;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	box-shadow: 0 0 12px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,0.4);
	-mox-box-shadow: 0 0 12px rgba(0,0,0,0.4);
	filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=10);
}

#slider .buttons {
	width: 85px;
	height: 85px;
	float: left;
	ont-size: 80px;
	cursor: pointer;
	opacity: 0.5;
	outline: none;
	font-size: 70px;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
}

#slider .buttons:hover {
	opacity: 0.7;
}

#slider .buttons:active {
	opacity: 1;
}

#slider .left {
	position: absolute;
	width: 70px;
	left: 50px;
	top: 0px;
	padding: 380px 0px;
	padding-right: 57%;
}

#slider .right {
	position: absolute;
	width: 70px;
	right: 50px;
	top: 0px;
	padding: 380px 0px;
	padding-left: 43%;
	z-index: 99999999;
}

#slider .navigation {
	margin-top: -80px;
	padding-right: 50px;
	display: block;
	text-align: center;
	cursor: default;
	position: absolute;

}

#slider .nav_wrapper {
	position: relative;
}

#slider .navigation li {
	display: inline-block;
	list-style-type: none;
	font-size: 17px;
	padding-left: 3px;
	color: black;
	cursor: pointer;
	opacity: 0.5;
	font-size: 70px;
	font-family: Arial;
	letter-spacing: -5px;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}
/* SLIDESHOW end */

/* FOOTER */
.footer {
	overflow: hidden;
	background-color: #333333;
	color: #ECECEC;
	font-family: 'Poiret One';
	font-size: 20px;
	text-align: center;
}

.footer .stars {
	margin-top: 80px;
	margin-bottom: 0;
}

.footer .rashad {
	margin: 0 auto;
	background-image: url(../../img/header/rashad-mini-two.png);
	background-size: 100% 100%;
	width: 180px;
	height: 59px;
}

.footer .phones {
	font-size: 30px;
}

.footer .phones > a {
	color: white;
}

.footer .copyright {
	font-size: 14px;
	margin-bottom: 80px;
}
/* END FOOTER */

/* Mobile view */
@media screen and (max-width: 1024px) {
	body {
		font-family: 'RobotoLight', 'PT Sans', Arial;
	}
	.header .wrapper {
		position: fixed;
		z-index: 99999;
	}
	
	.header .logo {
		display: none;
	}

	.header .nav-menu {
		display: none;
	}

	.header .mini_menu_btn {
		display: block;
	}

	.header_mini_menu {
		display: block;
		width: 200px;
		background-color: #3C3C3C;
		height: 100%;
		position: fixed;
		right: -250px;
		z-index: 999999;
		/*margin-top: 50px;*/
		margin-left: -150px;
		border-radius: 3px;
		z-index: 9999999999;
		-moz-transition: all 0.4s ease-out;
		-o-transition: all 0.4s ease-out;
		-webkit-transition: all 0.4s ease-out;
	}
	
	.header_mini_menu .rashad_logo_text .rashad-mini {
		background-image: url(../../img/header/rashad-mini.png);
		display: inline-block;
		background-size: 100% 100%;
		height: 65px;
		width: 120px;
		margin: 0 5px;
		float: left;
	}

	.header_mini_menu .rashad_logo_text > a {
		font-size: 35px;
		font-weight: 400;
	}

	
	.header_mini_menu .rashad_logo_text {
		display: block;
	}

	.header_mini_menu ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.header_mini_menu ul > li {
		margin: 20px 0px;
		padding: 0;
	}

	.header_mini_menu ul > li > a {
		font-family: 'Poiret One', RobotoLight, Arial;
		color: white;
		font-size: 1.7em;
		padding: 10px 15px;
		display: block;
		cursor: pointer;
	}
	
	.header_mini_menu ul > li > a:hover {
		background: #8C8C8C;
		font-weight: bold;
	}
	
	.header_mini_menu .btn_wrapper {
		width: 100%;
		display: inline-block;
		cursor: pointer;
		background: red;
	}

	.header_mini_menu .btn_wrapper.mini_menu_btn {
		height: 56px;
		width: 56px;
		margin: 0 auto;
		background-size: 100% 100%;
		z-index: 9999999999;
	}

	#top h1 {
		padding-top: 0px;
	}
}

@media (max-width: 1120px) {
	.main-header {
		text-shadow: none;
	}
	h2 {
		font-family: 'RobotoLight', 'PT Sans', Arial;
	}
	#comfort .block h3 {
		font-size: 20px;
	}
	#comfort .block > ul > li {
		font-size: 17px;
	}
	#slideshow #slider {
		display: none;
	}
	#slideshow_mob {
		display: block;
		margin-top: 30px;
	}
	#slideshow_mob img {
		display: block;
		margin: 0 auto;
		width: 100%;
		margin: 5px 0;
}


@media (max-width: 950px) {
	.header .logo .img {
		width: 160px;
		height: 60px;
		background-size: 100% 60px;
	}

	.header .nav-menu > li > a {
		font-size: 18px;

	}

	#comfort .block h3 {
		font-size: 18px;
	}

	#comfort .block > ul > li {
		font-size: 15px;
	}
}

@media (max-width: 850px) {
	#comfort .block {
		width: 45%;
		margin-bottom: 0px;
	}
}

/* MOBILE VIEW */
@media screen and (max-width: 780px) {

	/* BUTTON GO TO UP */
	.up_btn {
		width: 56px;
		height: 56px;
		float: right;
		opacity: 1;
		filter: alpha(opacity =100);
	}

	.up_btn:hover {
	}
	/* END UP_BTN */

	#top {
		height: 500px;
	}

	#top h1 {
		padding-top: 70px;
		font-size: 10vw;
	}
	#top h3 {
		font-size: 22px;
	}
	#top .price > *{
		font-size: 75px;
	}

	#slider .left {
		position: absolute;
		width: 70px;
		left: 20px;
		top: 0px;
		padding: 250px 5%;
		padding-right: 45%; 
	}

	#slider .right {
		position: absolute;
		width: 70px;
		right: 20px;
		top: 0px;
		padding: 250px 5%;
		padding-left: 25%;
	}

}

@media (max-width: 500px) {
	.header_separator {
		display: none;
	}

	h2 {
		margin-top: 20px;
	}

	#comfort .block {
		width: 100%;
		margin: 0;
		padding: 0;
		margin-top: 20px;
	}

	#comfort .block > ul {
		margin-left: 40px;
	}

	#comfort .block > ul > li {
		padding: 5px 0;
	}

	#slider .navigation li {
		font-size: 58px;
	}

	#slider .left {
		position: absolute;
		width: 70px;
		left: 20px;
		top: 0px;
		padding: 250px 5%;
	}

	#slider .right {
		position: absolute;
		width: 70px;
		right: 20px;
		top: 0px;
		padding: 250px 5%;
	}
	
}

@media (max-width: 350px) {
	#slider .left {
		position: absolute;
		width: 70px;
		left: 0px;
		top: 0px;
		padding: 250px 5%;
	}

	#slider .right {
		position: absolute;
		width: 70px;
		right: 0px;
		top: 0px;
		padding: 250px 5%;
	}
}

@media (max-width: 300px) {
	#top h1 {
		font-size: 25px;
	}
}
/* End mobile view */