#top {
	background-image: url(../../img/hotels/vip/vip.jpg);
}

@media screen and (max-width: 780px) {
	#top {
		background-image: url(../../img/hotels/vip/vip_mob.jpg);
		background-position: center;
		background-position: top;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}
}

